.pr-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pr-landing__title {
  font-family: 'Dawning of a New Day', cursive;
  font-size: 48pt;
  color: #707070;
}

.pr-links {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.pr-links__icon {
  color: #707070;
}

.pr-links__icon:hover {
  cursor: pointer;
}