:root {
  --special-font: "Dawning of a New Day", cursive;
  --gray: #707070;
  --bg-gray: #E5E5E5;
  --seasalt: #dbebeb;
  --orange: #fee4bd;
  --macha: #c8eca4;
  --peach: #ffc3bd;
}

.pr-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pr-landing__title {
  font-family: var(--special-font);
  font-size: 48pt;
  color: var(--gray);
}

.pr-links {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.pr-links__icon {
  color: var(--gray);
  transition: 0.1s ease-in-out;
}

.pr-links__icon:hover {
  cursor: pointer;
  color: var(--peach);
}

