@import url('https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Roboto&display=swap');

/* font-family: 'Dawning of a New Day', cursive;
font-family: 'Roboto', sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

@import 'styles/tooltip.css';